.header {
    background-image: url(../images/mandazi.jpg);
    background-repeat: no-repeat;
    background-size: cover;

}
#img1 {
    width: 20%;
    height:10%
}
#blanks {
    background-image: url(../images/foodstuff-bagels.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.meek:hover{
    opacity: 0.5;
    color: black;
  }
  .meek{
    height:500px;
    width: 700px;
    text-align: center;
    background-image: url(../images/pancake.jpg);
    color: white;
    font-size: 250%;
  }
  #let {
      animation-name: flash, tada, slidein;
      animation-duration: 4s, 3s, 5s;
      animation-iteration-count: 4, 5, 2;
      height: 300px;
      width: 700px
  }
  #cofee{
      animation-name: flash, tada, slidein;
      animation-duration: 4s, 3s, 5s;
      animation-iteration-count: 4, 5, 2;
      height: 200px;
      width: 350px;
  }
  #sus{
      animation-name: pulse, shake,  bounce;
      animation-duration: 4s,3s, 5s;
      animation-iteration-count: 4, 2, 3;
      height: 200px;
      width: 300px;
  }
  body{
      background-color: goldenrod;
  }
  .lunch:hover{
      opacity: 0.5;
      color: black;
  }
  .lunch{
    height:800px;
    width: 700px;
    text-align: center;
    background-image: url(../images/french-fries-today.jpg);
    color: white;
    font-size: 250%;
  }
  #img2{
      animation-name: shake, bounce;
      animation-duration: 3s, 5s;
      animation-iteration-count: 4, 3;
      height: 200px;
      width: 350px;
  }
  #img3{
      animation-name: slide, wobble;
      animation-duration: 5s, 3s;
      animation-iteration-count: 4, 3;
      height: 200px;
      width: 400 px;
  }
  #ndgu{
      animation-name: shake, bounce;
      animation-duration: 3s, 5s;
      animation-iteration-count: 3, 5;
      height: 300px;
      width: 350px

  }
  #chken{
      animation-name: bounce, fadeInOut;
      animation-duration: 3s, 6s;
      animation-iteration-count: 5, 4;
      height: 300px;
      width: 300px;
  }
  #rice{
      animation-name: shake, bounce;
      animation-duration: 4s, 3s;
      animation-iteration-count: 4, 5;
      height: 320px;
      width: 700px;
  }
  #logo{
      height: 20%;
      width: 20%;
  }
  .logon{
      font-size: 200%;
  }